<h1>Posts</h1>

<p id="notice"><%= notice %></p>

<form action="<%= posts_path %>">
  <input type="text" id="search" method: 'GET'>
</form>

<div class="">
  <%= render 'form', post: @post %>
</div>


<table id='posts'>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @posts %>
  </tbody>

</table>

<br>

<%# <%= link_to 'New Post', new_post_path %>
